.my-img img {
  max-width: 100%;
  /* height: 100vh; */
  height: auto;
}
.all-inall {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.all-img--text {
  border: 2px solid #000;
  text-align: center;
  border-radius: 10px;
}
.all-img--text img {
  width: 100%;
  border-radius: 10px;
  /* border: 2px solid #000; */
  height: 80%;
}

/* all photo */
header h1 {
  margin-top: 60px;
  text-align: center;
}
.pic {
  /* height: 400px; */
}
.all-photo {
  display: flex;
  height: 500px;

  /* grid-auto-rows: 100px; */
  gap: 5px;
  margin-bottom: 5px;
}
.all-photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.ekervitor-2 {
  /* display: flex; */
}
.eker-vitor-2 img {
  height: calc((100% - 5px) / 2);
  
}
.all-photo > div {
  flex: 1;
}
.square-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  grid-auto-rows:247.5px;
}


@media screen and (max-width: 576px) {
  .all-inall {
    display: flex;
    flex-direction: column;
  }
  .all-img--text {
    background-color: aquamarine;
  }
  .all-photo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
  }
  .all-photo img{
    width: 100%;
    
  }
  .eker-vitor-2{
     display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .square-collage{
    display: flex;
    flex-direction: column;
  }
}



@media screen and (min-width: 576px) and (max-width: 992px) {
  .all-inall {
    display: flex;
    flex-direction: column-reverse;
  }
  .all-img--text {
    background-color: darkgoldenrod;
  }
}
